<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>일반게시판</title>
		<link rel="stylesheet" href="../../assets/css/board.css">
	</head>
	<body>
		<div id="wrap">
			<div id="header" class="clearfix">
				<h1><a href="../main/index.html">MySite</a></h1>
				<ul>
					<li><a href="../board/signup.html">회원가입</a></li>
					<li><a href="">로그인</a></li>
				</ul>
			</div>
			
			<div id="nav" class="clearfix">
				<ul>
					<li><a href="">입사지원서</a></li>
					<li><a href="../board/list.html">게시판</a></li>
					<li><a href="">갤러리</a></li>
					<li><a href="">방명록</a></li>
				</ul>
			</div>
			
			<div id="contents" class="clearfix">
				<div id="aside">
					<h2>게시판</h2>
					<!-- 게시판 링크 생기면 추가 필수 -->
					<ul>
						<li><a href="./list.html">일반 게시판</a></li>
						<li><a href="">댓글 게시판</a></li>
						<li><a href="">첨부 게시판</a></li>
					</ul>
				</div>
				
				<div id="main" class="clearfix">
					<div id="main-header" class="clearfix">
						<h2>일반개시판</h2>
						
						<ul>
							<li class="last"><a href="./list.html">일반게시판</a></li>
							<li><a href="../board/list.html">게시판</a></li>
							<li><a href="../main/index.html">홈</a></li>
						</ul>
					</div>
					
					<div id="main-body" class="clearfix">
						<div id="searchbar" class="clearfix">
							<!-- 검색 기능 미완성 -->
							<form>
								<div class="btn"><a href="">검색</a></div>
								<input type="text">
							</form>
						</div>
					
						<!-- 테이블은 셈플 디자인, 기능 없음 -->
						<table>
							<colgroup>
								<col style="width: 10%;">
								<col style="width: 30%;">
								<col style="width: 15%;">
								<col style="width: 15%;">
								<col style="width: 15%;">
								<col style="width: 15%;">
							</colgroup>
							<thead>
								<tr>
									<th>번호</th>
									<th>제목</th>
									<th>글쓴이</th>
									<th>조회수</th>
									<th>작성일</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>999</td>
									<td>ㅠㅠ</td>
									<td>x.x</td>
									<td>1</td>
									<td>xxxx/xx/xx</td>
									<td>삭제</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td>999</td>
									<td>ㅠㅠ</td>
									<td>x.x</td>
									<td>1</td>
									<td>xxxx/xx/xx</td>
									<td>삭제</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td>999</td>
									<td>ㅠㅠ</td>
									<td>x.x</td>
									<td>1</td>
									<td>xxxx/xx/xx</td>
									<td>삭제</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td>999</td>
									<td>ㅠㅠ</td>
									<td>x.x</td>
									<td>1</td>
									<td>xxxx/xx/xx</td>
									<td>삭제</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td>999</td>
									<td>ㅠㅠ</td>
									<td>x.x</td>
									<td>1</td>
									<td>xxxx/xx/xx</td>
									<td>삭제</td>
								</tr>
							</tbody>
							<tbody>
								<tr>
									<td>999</td>
									<td>ㅠㅠ</td>
									<td>x.x</td>
									<td>1</td>
									<td>xxxx/xx/xx</td>
									<td>삭제</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div id="main-footer" class="clearfix">	
						<!-- "<" ">" 삼각형으로 수정 -->
						<ol>
							<li><a href="">◀</a></li>
							<li><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li><a href="">6</a></li>
							<li><a href="">7</a></li>
							<li><a href="">8</a></li>
							<li><a href="">9</a></li>
							<li><a href="">10</a></li>
							<li><a href="">▶</a></li>
						</ol>
						
						<!-- 글쓰기 링크 생기면 추가 -->
						<div class="btn"><a href="./writeForm.html">글쓰기</a></div>
					</div>
				</div>
			</div>
			<div id="footer" class="clearfix">
				<p>Copyright Ⓒ 2022 Marshmallow Shadow. All rights reserved.</p>
			</div>
		</div>
	</body>
</html>