@charset "UTF-8";
@import "reset.css";
@import "mySite.css";

/* **************추가 레이아웃************** */
#wrap > #contents > #aside {
	float: left;
	width: 150px;
	padding: 10px;
}

#wrap > #contents > #main {
	float: left;
	width: 830px;
}

#wrap > #contents > #main > #main-header {
	margin: 30px 0px;
	border-bottom: 1px solid #bfbfbf;
}

#wrap > #contents > #main #main-footer {
	padding: 20px 0px;
	text-align:center;
}

/* ************** aside (게시판 사이드바) ************** */
#aside h2 {
	background-color: #bfbfbf;
	text-align: center;
	padding: 10px 0px;
	margin: 10px 0px;
}

#aside ul>li {
	border: 1px solid #bfbfbf;
	padding: 5px 5px;
	margin: 5px 0px;
}

/* ************** main-header (게시판 헤더) ************** */
#main-header h2 {
	float: left;
}
#main-header ul>li {
	float: right;
	font-size: 13px;
}
#main-header ul>li:after {
	content: ">";
	margin: 0px 5px
}
#main-header ul>li.last:after {
	content: none;
}

/* ************** searchbar (검색 바) ************** */
#searchbar input {
	float: right;
	margin: 0px 10px 0px 0px;
}

/* ************** main-body (list) ************** */
#main-body table {
	width: 100%;
	margin: 10px 0px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#main-body thead {
	background-color: #bfbfbf;
	font-weight: bold;
}

#main-body th {
	padding: 7px 0px;
}

#main-body td {
	text-align: center;
	border-top: 1px solid #bfbfbf;
	padding: 5px 0px;
}

#main-footer ol {
	text-align: center;
	padding-left: 200px;
}

#main-footer ol>li {
		float: left;
		margin: 0px 10px;
		font-size: 12px;
}

/* ************** form ************** */
.form-group {
	padding: 5px 0px;
}

label.form-title {
	width: 100px;
	display: inline-block;
}

form #txt-title {
	width: 700px;
}

form #txt-content {
	width: 100%;
	height: 200px;
}