@charset "UTF-8";

/* ************** clearfix ************** */

.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

/* ************** 레이아웃 ************** */
#wrap {
	margin: 0px auto;
	width: 1000px;
}

#wrap > #header {
	border-bottom: 1px solid #bfbfbf;
	padding: 10px 0px;
}

#wrap > #nav {
	padding: 20px 0px;
	border-bottom: 1px solid #bfbfbf;
}

#wrap > #footer {
	padding: 20px 0px;
	background-color: #bfbfbf;
}

/* ************** header (h1, 로그인, 회원가입) ************** */
#header h1 a {
	float: left;
	color: #79b30b;
	font-size: 35px;
	font-weight: bold;
}

#header ul {
	float: right;
	margin: 10px 0px 0px 0px;
}

#header ul>li {
	float: left;
	margin: 0px 0px 0px 20px;
	font-size: 13px;
}

/* ************** nav (네비게이션 바) ************** */
#nav ul>li {
	float: left;
	width: 250px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

/* ************** contents ************** */
#contents h2 {
	font-weight: bold;
	font-size: 20px;
}

/* ************** footer ************** */
#footer p {
	text-align: center;
	font-size: 12px;
}
