<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<title>Marshmallow Shadow 홈페이지</title>
		<link rel="stylesheet" href="../../assets/css/main.css">
	</head>
	<body>
		<div id="wrap">
			<div id="header" class="clearfix">
				<h1><a href="./index.html">MySite</a></h1>
				<!-- 로그인 기능 미완성 -->
				<ul class="clearfix">
					<li><a href="../board/signup.html">회원가입</a></li>
					<li><a href="">로그인</a></li>
				</ul>
			</div>
			
			<!-- 네비게이션 바 링크 생기면 추가 필수 -->
			<div id="nav" class="clearfix">
				<ul>
					<li><a href="">입사지원서</a></li>
					<li><a href="../board/list.html">게시판</a></li>
					<li><a href="">갤러리</a></li>
					<li><a href="">방명록</a></li>
				</ul>
			</div>
			
			<div id="contents" class="clearfix">
				<img src="../../assets/img/marshadow.jpg">
				
				<div id="intro" class="clearfix">
					<p>
						<span class="greetings">
						안녕하세요!
						<br>
						Marshmallow Shadow의 MySite에 오신것을 환영합니다.
						</span>
						<br>
						<br>
						이 사이트는 웹 프로그래밍 실습과제 예제 사이트입니다.
						<br>
						메뉴는 사이트 소개, 방명록, 게시판이 있구요.
						<br>
						자바 수업 + 데이터베이스 수업 + 웹프로그래밍 수업
						<br>
						배운거 있는거 없는거 다 합쳐서 만들어 놓은 사이트 입니다.
						<br><br>
						<a href="">방명록에 글 남기기</a> <!-- 방명록 사이트 만들면 링크 추가 필수 -->
					</p>
				</div>
			</div>
			
			<div id="footer" class="clearfix">
				<p>Copyright Ⓒ 2022 Marshmallow Shadow. All rights reserved.</p>
			</div>
		</div>
	</body>
</html>